{% extends 'plantillas/Diseño.html' %}
{% load static %}

{% block content %}
<!-- Titulo -->
<section class="content-header">
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row mb-2" bis_skin_checked="1">
            <div class="col-sm-6" bis_skin_checked="1">
                <h1>Plano Inclinado</h1>
            </div>
            <div class="col-sm-6" bis_skin_checked="1">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/page1/home/infoPI">Info Plano Inclinado</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" >
    <div class="row" >
        <div class="col-12">
            <div class="card" >
                <div class="card-header" >
                    <h3 class="card-title">Laboratorio Remoto</h3>
                    <div class="card-tools" bis_skin_checked="1">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i>
                        </button>
                        
                    </div>
                </div>
                <div class="card-body" >
                    <div class = "row" >

                        <div class="col-md-4" >
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Control</h3>
                                </div>
                                <div class="card-body" >

                                </div>
                            </div>
                        </div>

                        <div class="col-md-8" >
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Camara</h3>
                                </div>
                                <div class="card-body" >
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" >
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Tabla de Datos</h3>
                                </div>
                                <div class="card-body" >

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" >
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Grafica y vs t</h3>
                                </div>
                                <div class="card-body" >

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-footer" bis_skin_checked="1">

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}